<div class="container-fluid">

    <div class="row content">

        <div class="col-sm-2 sidenav">

            <br>



            <ul class="nav nav-pills nav-stacked active vl">

                @if (User.IsInRole("Admin"))
                {
                    <li> <a class="active" href="@Url.Action("GetAllPost", "Post")"><i class="fa fa-fw fa-home"></i> Home</a></li>}
                else
                {
                    <li> <a class="active" href="@Url.Action("GetAllPostUser", "Post")"><i class="fa fa-fw fa-home"></i> Home</a></li>}

                <li> <a class="active" href="@Url.Action("Tags", "Post")"><i class="fa fa-fw fa-tag"></i> Tracks</a></li>

                <li> <a class="active" href="@Url.Action("Users", "Post")"><i class="fa fa-fw fa-users"></i> Users</a></li>

                <li> <a class="active" href="@Url.Action("UserProfile", "Post")"><i class="fa fa-file"></i> About</a></li>



            </ul><br>



        </div>

        <div class="col-lg-10">
            <br />
            <div class="dum col-mod-offset-3" style='width: 100%; height: 220px; background-image: url("/Images/vBanner1.jpg"); background-repeat: no-repeat; background-size: cover;'>

            </div>

            <div class="box">
                <br />
                <header class="panel-headingg tab-bg-primary ">

                    <ul class="nav nav-tabs">

                        <li class="active">

                            <a data-toggle="tab" href="#description">Description</a>

                        </li>
                        <h4 class="col-md-offset-5">  Medical Claims</h4>
                    </ul>



                </header>

                <div class="panel-bodyy">

                    <div class="tab-content">





                        <div id="description" class="tab-pane active">



                            <div class="col-sm-12">

                                <section class="panel1">

                                    <header class="panel-heading" style="background:rgba(36, 118, 96, 1);color:white">

                                        Trackwise Summary

                                    </header>

                                    <table class="table table-bordered">

                                        <thead>

                                            <tr>

                                                <th>Track </th>

                                                <th>Process Description</th>

                                                <th style="width:20%">On time</th>

                                                <th>Business critical error accuracy</th>

                                                <th style="width:2%">Compliance critical error accuracy</th>

                                                <th style="width:2%">End user critical error accuracy</th>

                                                <th style="width:25%">Recent Updates</th>

                                            </tr>

                                        </thead>

                                        <tbody>



                                            <tr>

                                                <td>Medical Claims</td>

                                                <td>

                                                    1.Medical Claims Processing claims denied by payor.<br>

                                                    2.Interacting with Payors understanding the reason for denials and refiling/ appealing a claim<br>

                                                    3.Medical Claim initiate payor change

                                                </td>

                                                <td>Resolution Effectiveness 85% in 90 days</td>

                                                <td>90%</td>

                                                <td>99.50%</td>

                                                <td>95%</td>

                                                <td>

                                                    <a data-toggle="modal" href="#myModal">1) Added new section 5010 837P claim submission-04/19/2019</a><br>



                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>

                                </section>

                            </div>

                        </div>





                    </div>

                </div>

            </div>

        </div>

    </div>

</div>